body {
    margin: 0px;
}

#back {
    display: none;
}

#done {
    position: absolute;
    right: 28px;
    margin-left: auto;
    bottom: 28px;
    margin-top: auto;
}

#front {
    margin-right: 0px;
    min-height: 0px;
}

#frontImg {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    max-width: 344px;
    max-height: 264px;
    min-width: 344px;
    min-height: 264px;
    opacity: 0.4;
    right: 0px;
    width: auto;
    bottom: 264px;
    height: auto;
}

#envelope {
    position: relative;
    top: 12px;
    left: 12px;
    width: 320px;
    height: 240px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

#webcam {
    position: absolute;
    right: 0px;
    height: 240px;
    width: 320px;
    min-width: 320px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#status {
    position: absolute;
    bottom: auto;
    margin-top: 0px;
    width: 320px;
    height: 240px;
    top: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
    background-size: 320px 240px;
    left: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#infoButton {
    width: 13px;
    height: 14px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    top: 17px;
    left: 314px;
    opacity: 0;
}

#nextButton {
    width: 13px;
    height: 14px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    opacity: 0;
    left: 297px;
    top: 17px;
}

#pauseButton {
    width: 13px;
    height: 14px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    opacity: 0;
    left: 281px;
    top: 17px;
}

#shadow {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    top: 0px;
    width: 344px;
    height: 264px;
    background-image: url(Images/shadow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#shadowimg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#text {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    cursor: default;
    -khtml-user-select: none;
    font-weight: bold;
    font-family: 'Lucida Grande';
    font-size: 11px;
    opacity: 1;
    width: 301px;
    height: 16px;
    top: 231px;
    white-space: nowrap;
    left: 22px;
    text-shadow: rgb(0, 0, 0) 0px 0px 3px;
    text-align: center;
}

.selected #text {
    color: white;
}

#refresh {
    height: 18px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    opacity: 1;
    left: 207px;
    width: 109px;
    top: 127px;
}

#timeout {
    height: 18px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 207px;
    width: 109px;
    top: 150px;
}

#RefreshLabel {
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    left: 127px;
    top: 129px;
    right: 147px;
    width: auto;
    bottom: 121px;
    height: auto;
}

.selected #RefreshLabel {
    color: white;
}

#CamTimeoutLabel {
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    left: 127px;
    top: 152px;
    right: 144px;
    width: auto;
    bottom: 98px;
    height: auto;
}

.selected #CamTimeoutLabel {
    color: white;
}

#explanation {
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    left: 186px;
    text-align: right;
    top: 76px;
    right: 27px;
    width: auto;
    bottom: 145px;
    height: auto;
}

.selected #explanation {
    color: white;
}

#copyblurb {
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-align: right;
    left: 150px;
    top: 178px;
    right: 28px;
    width: auto;
    bottom: 50px;
    height: auto;
}

.selected #copyblurb {
    color: white;
}

#backImg {
    position: absolute;
    display: block;
    max-width: 344px;
    max-height: 264px;
    min-width: 344px;
    min-height: 264px;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
    opacity: 1;
}

#text1 {
    font-size: 8pt;
    font-family: 'Lucida Grande';
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    left: 127px;
    top: 223px;
    right: 177px;
    width: auto;
    bottom: 21px;
    height: auto;
}

.selected #text1 {
    color: white;
}
